<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
    <p>Badge Number: <%= @employee_id %><p>
<p>Rank in group: <%= @rank %><p>
<p> Cutoff time: <%= @cutoff_time %><p>


</html>
